---
// Layout
import Layout from "../../layouts/Layout.astro";
// Componentes
import AuthForm from "../../components/auth/AuthForm";
---

<Layout title="Log In | Tempo" lang="en">
	<div class="min-h-screen flex items-center justify-center py-8 sm:py-12 px-3 sm:px-6 lg:px-8">
		<AuthForm client:only="react" redirectPath="/en" />
	</div>
</Layout>
